/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    max-width: 60%;
    margin: 3rem auto;
    padding: 0 32px;
}

.container .profile {
    border: 1px solid blue;
    width: auto;
    display: grid;
    grid-template-columns: 350px auto ;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    "p h"
    "p s"
    "r b";
    /* margin-bottom: 100px; */
}

.profile-user-settings{
    align-items: flex-end;
}

.profile-stats > ul {
    font-size: 12px;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-self: start;
}   

.profile-stat-count{
    grid-area: s;
}


.profile-bio {
    grid-area: r;
    font-size: 16px;
}

button.profile-edit-btn{
    background-color: rgb(108, 108, 219);
    width: 65%;
    border: none;
    cursor: pointer;
}

button.profile-settings-btn{
    border: none;
    cursor: pointer;
}

.profile-user-name{
    font-size: 2rem;
    grid-area: h;
    margin-left: 10px;
    /* justify-self: flex-end; */
}

.profile-image{
    grid-area: p;
    cursor: pointer;
}

.container .gallery {
    display: grid;
    grid-gap: 5em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
}

.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }

.gallery-item-info li {
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    list-style-type: none;
    cursor: pointer;
}